.grid-container {}

.cell {
    border: 1px solid lightgrey;
}

.cell:hover {
    background-color: steelblue !important;
}

.cell.cell-alive {
    background-color: black;
}

.cell.cell-dead {
    background-color: white;
}